<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class='navbar-header'>
			<div class='navbar-brand'>Fuss Checker</div>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right"> 
					<% if current_user.photo %>
						<li class='navbar-text'><%=image_tag current_user.photo, size: '25', class: 'rounded'%></li>
					<% end %>
					<li class='navbar-link'><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
<%= react_component 'Tweets', { tweets: @tweets, msg: 'Fuss Checker'} %>
</div>