// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.positive{
	color: #8CC152;
}

.negative{
	color: #E9573F;
}

.neutral{
	color: #AAB2BD;
}

.top-margin{
	margin-top: 5vw;
}

input.form-control{
	height: 33px;
}