// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.positive{
	color: #8CC152;
}

.negative{
	color: #E9573F;
}

.neutral{
	color: #AAB2BD;
}

.top-margin{
	margin-top: 5vw;
}

.sm-top-margin{
	margin-top: 2vw;
}

.lg-top-margin{
	margin-top: 10vw;
}

input.form-control{
	height: 33px;
}

.no-show{
	visibility:hidden;
}

.rounded{
	border-radius: 3px;
}

.sun-background{
	width: 100%;
	height: 600px;
	background-image: url('/assets/bg-8-full.jpg')
}

.fuss-check{
	display: inline;
	padding: 10px;
	font-size: 30px;
	font-weight: 600;
	color: white
}

.login{
	display: inline;
	padding: 10px;
	font-size: 20px;
	font-weight: 300;
	color: white
}


.caption{
	padding: 10px;
	font-size: 10px;
	font-weight: 300;
	color: black
}

.description{
	padding: 10px;
	font-size: 20px;
	font-weight: 300;
	color: white
}

.headline{
	font-size: 20px;
	font-weight: 500;
	color: black
}

.pointer{
	cursor: pointer;
}